
  <div class="home-container">
    <!-- Video Background -->
    <video autoplay muted loop class="background-video">
      <source src="assets/nh_bg_002.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>

  </div>
  
  <!-- New Section with Background Image -->
  <div class="image-section">
    <img src="assets/re_imagine_ai.jpg" alt="Background" class="background-image">
    <div class="explore-container">
      <button mat-raised-button color="accent" (click)="navigateToBankService()">Explore More</button>
    </div>
  </div>
  
  